/* Resetowanie marginesów i paddingu */
body {
  margin: 0;
  padding: 0;

  /* Ustawienie tła na obrazek, który będzie zawsze w centrum i przyklejony do okna */
  height: 100svh;
  width: 100svw;
  background: url("./images/background.png") no-repeat center center fixed;
  background-size: cover; /* Obrazek wypełnia tło */
}

/* Styl postaci */
#player {
  /* Ustawienie tła postaci */
  background-image: url("./images/playerDown.png");

  /* Pozycjonowanie postaci na środku ekranu */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* Rozmiar postaci */
  width: 48px;
  height: 68px;
}
